@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
  margin: 0;
  padding: 0;
}

header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  font-weight: 400;
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
